name: Scrape YeahScore

on:
  workflow_dispatch: # Supaya bisa dijalankan manual lewat tombol

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout kode
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install playwright
          playwright install chromium

      - name: Jalankan Scraper
        run: python scrape.py

      - name: Upload Hasil Inspect Element
        uses: actions/upload-artifact@v4
        with:
          name: source-code-html
          path: hasil_inspect.html
          retention-days: 1
